<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>object</key>
		<string>Mail Recipients</string>
		<key>header</key>
		<string>Mail Recipient Setting</string>
		<key>footer</key>
		<string>Set your mail recipient here. You may set multiple recipients.</string>
		<key>rows</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>object</key>
		<string>Facebook</string>
		<key>header</key>
		<string>Facebook account setting</string>
		<key>footer</key>
		<string>Set your facebook account here.</string>
		<key>rows</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
